.sliderPromo{
    height: 96%; width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    }
.promo1, .promo2{
    position: relative;
    padding: 20px;
    height: 96%;
    flex: 0 0 100%;
    background-color: rgb(0, 149, 255);
    position: relative;
    border-radius: 44px;
}
.detallepromo{
    color: white;
    position: absolute;
    bottom: 20px;
}
.price {
    font-size: 1.4em;
}

.op40{opacity: 0.4;}