.footer{
    
    bottom: 0px;
    width: 92vw auto!important;
    margin: auto;
    display: flex;
    height: 200px;
}

.lista__columna{
    display: flex;
    flex-direction: column;
}
button{
    padding: 4px 15px;
}



