.footer{
    position: fixed;
    bottom: 15px;
    width: 92vw!important;
    margin: auto;
    display: flex;
    height: 200px;
}

.lista__columna{
    display: flex;
    flex-direction: column;
}



